html{
  background-image:url("../image/fond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hautCommentaire{
  display: flex;
}

.commentairePerso input{
  border-color: black;
  height : 200px;
}

.avisPerso{
  display: flex;
}

.rating2 {
  margin-top: 14px;
  margin-left: 20px;
}

.rating2 a{
  text-decoration: none;
  color: #aaa;

}

.hautCommentaire .rating{
  margin-top: 20px;
  padding-left: 50px;
}
.commentaire{
  background-color: #001233;
  margin-top: 10px;
  padding-bottom: 2px;
  border-style : inset;
  border-color: #001233;
}

.commentaire h1{
  color : grey;
  text-decoration: underline;
  margin-left: 10px;
}

.commentaire p{
  margin-left: 50px;
  color: white;
}

.filmDescription img{
    width : 500px;
    height : 500px;
}

.filmDescription p{
    margin-left: 10px;
}

.filmDescription{
    display: flex;
}

.univers img{
  width:100%;
}

.bouttonChoixAccueil{
  display: flex;
}
.bouttonChoixAccueil p{
  background-color: #001233;
  color: white;
}

.bouttonChoixAccueil button{
  height:500px;
  width:500px;
  margin : auto;
}

.bouttonChoixAccueil #videoGame{
  background-image: url("../image/accueil/videogames.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

.bouttonChoixAccueil #cinema{
  background-image: url("../image/accueil/cinema.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

body{
  max-width: 1200px;
  margin: auto;
  background-color: white;

  min-height: 100vh;
  margin: auto;
  padding:0;
  text-decoration : none;

  display : flex;
  flex-direction : column;

  font-family: 'Roboto',Arial,sans-serif;
}


h1{
  font-size : 1.8em;
  color : rgb(90, 90, 90);
  text-align : left;
}
h2{
  text-align : center;
  font-size : 1.5em;
  color : rgb(90, 90, 90);
}
p{
  font-size : 1em;
}



label{
  text-align : left;
}

input, textarea{
  border : 1px solid lightgrey;
  padding : 8px;
  border-radius : 5px;
  margin-top : 5px;
  margin-bottom : 5px;
  width : calc(100% - 20px);
  font-size : 1em;
}

select{
  border : 1px solid lightgrey;
  border-radius : 5px;
  padding : 3px 7px;
  font-size : 1em;
  background-color: #fff;
  box-shadow: none;
}

textarea{
  resize: none;
}

#etudiant, #professeur, #salarie, #entreprise {
  width: auto;
}

.inputRadioButton{
  width:1%;
}

button{
  border-radius : 5px;
  color : white;
  background-color: #001233;
  border : none;
  font-weight : bold;
  font-size : 1em;
  padding : 5px 15px;

  margin : 5px 15px;
  width : 100%;
}




table{
  position : center;
  margin : 10px 0px;
  border-collapse: collapse;
  width: 100%;
  margin-top : 20px;
}
table thead{
  border : 5px solid #001233;
  text-align: center;
}
table thead th{
  background-color : #001233;
  color : white;
  font-weight : bold;
  padding : 5px;
  text-align : left;
}
table tbody{
  border: 5px solid black;
}
table tbody td{
  padding : 5px;
  border: 1px solid black;
}


tr:nth-child(even){background-color: #f2f2f2}



/* Header */
header{

  padding:15px;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  background-color: #001233;
  text-align : center;
}
header img{
  height : 120px;
}
header div {
  text-align : center;
  display: flex;
}



header div h2{
  color : rgb(90, 90, 90);
}

header div img{
  width : 100px;
  height : 50px;
  margin-top: 25px;
}


header a {
  color:white;
  font-weight: bold;
  padding : 10px 15px 10px 15px;
  border-radius : 5px;
}
 header textarea{
   margin-top: 40px;
   width : 500px;
   height: 20px;
 }


/* Nav */
nav{
  background-color: #001233;
  color:white;

}

nav ul{
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items : stretch;
  align-content : stretch;

  list-style-type: none;
  text-decoration : none;
  padding : 0;

}
nav ul li{
  float : center;

}
nav ul li a{
  text-decoration : none;
  background-color: #001233;
  color: white;
  font-weight:bold;
  padding : 15px 20px;
  border: 2px solid white;
  border-top: 3px solid #001233;
  border-bottom: 1px solid #001233;
}

li a:hover {
  background-color: white;
  color : #001233;
  border-bottom: 1px solid #001233;

}



/* Main */
main{
  padding: 10px 20px;
  flex-grow:1;
}
main ul{
  display : flex;
  justify-content : flex-end;
  text-decoration : none;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top : 10px;
}
main ul li{
  margin-top : 20px;
}
main ul li a{
  padding : 7px 10px;

  margin-top : 5px;
  margin-left : 10px;
  background-color : rgb(90, 90, 90);
  color : white;
  border-radius : 5px;
  text-decoration : none;
}




/* Footer */
footer{
  background-color: #001233;
}
footer nav ul{
  display : flex;
  justify-content: space-around;
  flex-wrap : wrap;
}


.offre{
  border : 1px solid lightgrey;
  border-radius : 5px;
  padding : 10px;
  margin : 20px 0px;
}

.filtre{
  background-color: lightgrey;
  padding : 10px;
}

.imageSvg{
  height : 15px;
}
